{% extends "admin/change_form.html" %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript">
        (function($) {
            'use strict';
            $(document).ready(function() {
                var is_changed = false;
                var is_tab_clicked = false;
                var form = $("form");

                form.change(function(){
                    is_changed = true;
                });

                $(".parler-language-tabs span[class != 'current']").click(function() {
                    is_tab_clicked = true;
                    if (is_changed && is_tab_clicked && window.location.href.indexOf("add") != -1) {
                        is_tab_clicked = false;
                        var next_href = $(this).find('a').attr('href').split('=')[1];
                        var current_href = $('form').attr('action');

                        form.attr('action', current_href + "&next_href=" + next_href);
                        form.find('input[name="_continue"]').click();
                        return false;
                    }
                });

                window.onbeforeunload = function (e) {
                    if (is_changed && is_tab_clicked) {
                        $.ajax({
                            url: window.location.href,
                            type:'post',
                            async: false,
                            data: form.serialize(),
                        });
                    }
                }
            });
        })(django.jQuery);
    </script>
{% endblock %}
