{% extends "admin/change_form.html" %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript">
        // automatically save data when user changes language tab
        jQuery.noConflict();
        // Use jQuery via jQuery() instead of via $()
        jQuery(document).ready(function(){
            var is_changed = false;
            var is_tab_clicked = false;
            var form = jQuery("form");
            
            form.change(function(){
                is_changed = true;
            });
            
            jQuery(".parler-language-tabs span[class != 'current']").click(function() {
                is_tab_clicked = true;
            });
            
            window.onbeforeunload = function (e) {
                if (is_changed && is_tab_clicked) {
                    jQuery.ajax({
                        url:'.',
                        type:'post',
                        async: false,
                        data: form.serialize(),
                    });
                }
            }
        });
    </script>
{% endblock %}
