{% extends default_change_form_template|default:"admin/change_form.html" %}

{% block field_sets %}
{% if language_tabs %}{% include "admin/parler/language_tabs.html" %}{% endif %}
{{ block.super }}
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript">
        (function($) {
            'use strict';
            $(document).ready(function() {
                var is_changed = false;
                var is_tab_clicked = false;
                var form = $("form");

                form.change(function(){
                    is_changed = true;
                });

                $(".parler-language-tabs span[class != 'current']").click(function() {
                    //is_tab_clicked = true;
                    if (is_changed) {
                        //is_tab_clicked = false;
                        var next_href = $(this).find('a').attr('href').split('=')[1];
                        var current_href = $('form').attr('action');

                        form.attr('action', current_href + "&next_href=" + next_href);
                        form.find('input[name="_continue"]').click();
                        return false;
                    }
                });
            });
        })(django.jQuery);
    </script>
{% endblock %}